h2{
    text-align: center;
}

.form-container {
    max-width: 600px;  
    margin: auto;     
    padding: 20px;    
    border: 1px solid #ccc; 
    border-radius: 8px;    
    background-color: #f9f9f9; 
}

.form-field {
    margin-bottom: 15px;  
}

.error {
    color: red;          
    font-size: 0.9em;    
    margin-top: 5px;       
}
.error-input {
    border: 1px solid red;
    outline: none; 
  }

button{
    text-align: center;  
}